@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image:url(../img/qs.jpg);
  color: #4e5e72;
  text-align: center;
  font-family: monospace;
  overflow: hidden;
}
h1, p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2rem;
  font-family: 'Dancing Script';
  color: white;
}
small {
  display: block;
  padding: 1rem 0;
  font-size: 0.8rem;
  transition: opacity 0.33s;
  margin-top: -210px;
  color: wheat;
}
textarea, input, button {
  line-height: 1.5rem;
  border: 0;
  outline: none;
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
textarea, input {
  color: #4e5e72;
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgb(229, 225, 187)' x='0' y='23' width='10' height='1'/></svg>");
}
textarea {
 width: 100%;
 height: 8rem;
 resize: none;
 color: #03e9f4;
}
input {
 width: 50%;
 margin-bottom: 1rem;
 color: #03e9f4;
}
input[type=text]:invalid, input [type=email]:invalid {
    box-shadow: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgba(240, 132, 114, 0.5)' x='0' y='23' width='10' height='1'/></svg>");
  }
button {
 padding: 0.5rem 1rem;
 border-radius: 0.25rem;
 background-color: rgba(2, 11, 22, 0.678);
 /*color: white;*/
 color: #03e9f4;
 font-size: 1rem;
 transition: background-color 0.2s;
}
button:hover,button :focus {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
  }
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgba(78, 94, 114, 0.3)' x='0' y='23' width='10' height='1'/></svg>");
  outline: none;
}
.wrapper {
  width: 35rem;
  background-color: white;
}
.letter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 30rem;
  margin: auto;
  perspective: 60rem;
}
.side {
  height: 12rem;
 /* background-color: #fcfcf8;*/
 background: rgba(0,0,0,.5);
  outline: 1px solid transparent;
}
.side:nth-of-type(1) {
    padding: 2rem 2rem 0;
    border-radius: 1rem 1rem 0 0;
    box-shadow: inset 0 0.75rem 2rem rgba(238, 238, 235, 0.096);
  }
.side.side:nth-of-type(2) {
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05), inset 0 -0.57rem 2rem rgba(247, 246, 243, 0.103);
    text-align: right;
  }
.envelope {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
.envelope.front {
  width: 10rem;
  height: 6rem;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  z-index: 9999;
  opacity: 0;
}
.envelope.front::before, .envelope.front::after {
  position: absolute;
  display: block;
  width: 12rem;
  height: 6rem;
  background-color: #e9dc9d;
  transform: rotate(30deg);
  transform-origin: 0 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  content: '';
}
.envelope.front::after{
  right: 0;
  transform: rotate(-30deg);
  transform-origin: 100% 0;
}
.envelope.back {
  top: -4rem;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  z-index: -9998;
  opacity: 0;
  transform: translateY(-6rem);
}
.envelope.back::before {
    display: block;
    width: 10rem;
    height: 10rem;
    background-color: #e9dc9d;
    border-radius: 1rem;
    content: '';
    transform: scaleY(0.6) rotate(45deg)
  }
.result-message {
  opacity: 0;
  transition: all 0.3s 2s;
  transform: translateY(9rem);
  z-index: -9999;
}
.sent .letter {
    -webkit-animation: scaleLetter 1s forwards ease-in /*,
               pushLetter 0.5s 1.33s forwards ease-out*/ ;
            animation: scaleLetter 1s forwards ease-in /*,
               pushLetter 0.5s 1.33s forwards ease-out*/ ;
  }
.sent .side:nth-of-type(1) {
    transform-origin: 0 100%;
    -webkit-animation: closeLetter 0.66s forwards ease-in;
            animation: closeLetter 0.66s forwards ease-in;
  }
.sent .side:nth-of-type(1) h1, .sent .side:nth-of-type(1) textarea {
    -webkit-animation: fadeOutText 0.66s forwards linear;
            animation: fadeOutText 0.66s forwards linear;
  }
.sent button {
    background-color: rgba(78, 94, 114, 0.2);
  }
.sent .envelope {
    -webkit-animation: fadeInEnvelope 0.5s 1.33s forwards ease-out;
            animation: fadeInEnvelope 0.5s 1.33s forwards ease-out;
  }
.sent .result-message {
    opacity: 1;
    transform: translateY(12rem);
    color: whitesmoke;
  }
.sent small {
    opacity: 0;
  }
.centered {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1rem auto;
}
@-webkit-keyframes closeLetter {
   50% {transform: rotateX(-90deg);}
   100% {transform: rotateX(-180deg);}
}
@keyframes closeLetter {
   50% {transform: rotateX(-90deg);}
   100% {transform: rotateX(-180deg);}
}
@-webkit-keyframes fadeOutText {
   49% {opacity: 1;}
   50% {opacity: 0;}
   100% {opacity: 0;}
}
@keyframes fadeOutText {
   49% {opacity: 1;}
   50% {opacity: 0;}
   100% {opacity: 0;}
}
@-webkit-keyframes fadeInEnvelope {
  0% {opacity: 0; transform: translateY(8rem);}
  /*90% {opacity: 1; transform: translateY(4rem);}*/
  100% {opacity: 1; transform: translateY(4.5rem);}
}
@keyframes fadeInEnvelope {
  0% {opacity: 0; transform: translateY(8rem);}
  /*90% {opacity: 1; transform: translateY(4rem);}*/
  100% {opacity: 1; transform: translateY(4.5rem);}
}
@-webkit-keyframes scaleLetter {
  66% {transform: translateY(-8rem) scale(0.5, 0.5);}
  75% {transform: translateY(-8rem) scale(0.5, 0.5);}
  90% {transform: translateY(-8rem) scale(0.3, 0.5);}
  97% {transform: translateY(-8rem) scale(0.33, 0.5);}
  100%{transform: translateY(-8rem) scale(0.3, 0.5);}
}
@keyframes scaleLetter {
  66% {transform: translateY(-8rem) scale(0.5, 0.5);}
  75% {transform: translateY(-8rem) scale(0.5, 0.5);}
  90% {transform: translateY(-8rem) scale(0.3, 0.5);}
  97% {transform: translateY(-8rem) scale(0.33, 0.5);}
  100%{transform: translateY(-8rem) scale(0.3, 0.5);}
}

/*
@keyframes pushLetter {
  0% {transform: translateY(-8rem) scale(0.3, 0.5);}
  50% {transform: translateY(-8rem) scale(0.3, 0.5);}
  90% {transform: translateY(-8.5rem) scale(0.3, 0.5);}
  100% {transform: translateY(-8rem) scale(0.3, 0.5);}
}
*/

















.wwrapper {
	height: 200px;
	display: flex;
	left:90px;
	margin-top:35px;
  padding-left: 10px;
}
.bbutton {
	text-decoration: none;
	position: relative;
	display: inline-block;
}
.bbutton:before,
.bbutton:after {
	content: "";
	position: absolute;
	width: 100px;
	height: 100px;
	border: 2px solid red;
	top: -10px;
	left: 50%;
	z-index: 1;
	margin-left: -40px;
	transition: all 1s ease 0s;
}
.bbutton:before {
	animation: rotate 20s infinite linear;
}
.bbutton:after {
	animation: rotate 25s infinite linear;
}
.bbutton__text {
	position: relative;
	height: 70px;
  width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 50px;
	border-radius: 50px;
	font-size: 16px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
	letter-spacing: 10px;
	transition: all 0.8s ease 0s;
	top: 0;
	overflow: hidden;
}
.bbutton__text:before,
.bbutton__text:after {
	content: "";
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: #eee;
	transition: all 0.8s ease 0s;
}
.bbutton__text:before {
	left: 0;
	z-index: 2;
}
.bbutton__text:after {
	right: 0;
}
.bbutton__text span {
	position: relative;
	z-index: 2;
}
.bbutton:hover:before,
.bbutton:hover:after {
	left: 100%;
	opacity: 0;
}
.bbutton:hover .bbutton__text {
	top: -10px;
	color: #ffff;
	transition: all 0.8s ease 0s;
	box-shadow: linear-gradient(360deg, transparent, #03e9f4);
}
.bbutton:hover .bbutton__text:before,
.bbutton:hover .bbutton__text:after {
	background: linear-gradient(360deg, transparent, #03e9f4);
}
.bbutton:hover .bbutton__text:before {
	width: 100%;
}
.bbutton:active .bbutton__text {
	top: -7px;
	transition: all 0.1s ease 0s;
	box-shadow: linear-gradient(360deg, transparent, #03e9f4);
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}















.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-star {
  height: 4.0625em;
  width: 3.75em;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-star/images/star.png) no-repeat center;
  background-size: contain;

  z-index: 1;
  position: absolute;

  -webkit-animation: an-star 2s 2s linear infinite;
  -moz-animation: an-star 2s 2s linear infinite;
  -o-animation: an-star 2s 2s linear infinite;
  animation: an-star 2s 2s linear infinite;

  image-rendering: optimize-contrast;
}
.ag-star-1 {
  top: 10em;
  left: 10em;

  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
.ag-star-2 {
  top: 15%;
  left: 20%;

  -webkit-animation-delay: 14s;
  -moz-animation-delay: 14s;
  -o-animation-delay: 14s;
  animation-delay: 14s;
}
.ag-star-3 {
  top: 20%;
  right: 40%;

  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  animation-delay: 10s;
}
.ag-star-4 {
  top: 50%;
  right: 10.625em;

  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}
.ag-star-5 {
  top: 5em;
  right: 50em;
}

@-webkit-keyframes an-star {
  0% {
    -webkit-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(0.5, 0.5) rotate(180deg);
    transform: scale(0.5, 0.5) rotate(180deg);
  }
  100% {
    -webkit-transform: scale(1, 1) rotate(360deg);
    transform: scale(1, 1) rotate(360deg);
  }
}
@-moz-keyframes an-star {
  0% {
    -moz-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }
  50% {
    -moz-transform: scale(0.5, 0.5) rotate(180deg);
    transform: scale(0.5, 0.5) rotate(180deg);
  }
  100% {
    -moz-transform: scale(1, 1) rotate(360deg);
    transform: scale(1, 1) rotate(360deg);
  }
}
@-o-keyframes an-star {
  0% {
    -o-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }
  50% {
    -o-transform: scale(0.5, 0.5) rotate(180deg);
    transform: scale(0.5, 0.5) rotate(180deg);
  }
  100% {
    -o-transform: scale(1, 1) rotate(360deg);
    transform: scale(1, 1) rotate(360deg);
  }
}
@keyframes an-star {
  0% {
    -webkit-transform: scale(1, 1) rotate(0deg);
    -moz-transform: scale(1, 1) rotate(0deg);
    -o-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(0.5, 0.5) rotate(180deg);
    -moz-transform: scale(0.5, 0.5) rotate(180deg);
    -o-transform: scale(0.5, 0.5) rotate(180deg);
    transform: scale(0.5, 0.5) rotate(180deg);
  }
  100% {
    -webkit-transform: scale(1, 1) rotate(360deg);
    -moz-transform: scale(1, 1) rotate(360deg);
    -o-transform: scale(1, 1) rotate(360deg);
    transform: scale(1, 1) rotate(360deg);
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}


